body {
    background-color: #8AA29E;
}
.header {
    font-family: "Annai MN";
    font: 400 15px "Annai", sans-serif;
    display: flex;
    flex-direction: row;
    background-color: #3D5467;
    color: white;
    box-shadow: -5px 3px 10px #3D5467;
    border-radius: 15px;
}

.content {
    display: flex;
    flex-direction: column;
}

.inside-content1 {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 174px;
    color: aliceblue;
    background-color: #536575;
    border-radius: 15px;
    margin-top: 45px;
    margin-left: 10px;
    margin-bottom: 10px;
    column-gap: 15px;
}

.inside-content2 {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 174px;
    color: aliceblue;
    background-color: #536575;
    border-radius: 15px;
    margin-top: 50px;
    margin-left: 10px;
    margin-bottom: 10px;
    column-gap: 15px;
}

.text-content1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5em;
}

.text-content2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5em;
}

.inside-content1 img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 10px;
}

.inside-content2 img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 10px;
    justify-items: right;
}

.header h1 {
    margin-left: 10px;
}
.header img {
    width: 50px;
    height: 60px;
    margin-top: 5px;
    margin-left: 50px;
}
.header-options header {
    margin-top: 6px;
    margin-left: 60px;
    font-size: 20px;
    column-gap: 50px;
    display: flex;
    flex-direction: row;
}

.header-options button {
    background-color: #3D5467;
    border: solid #3D5467;
    border-radius: 10px;
    padding: 10px 10px;
    color: white;
    font-size: 20px;
    margin-top: 8px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.header-options button:hover {
    background-color: #536575;
    transform: scale(1.1);
}

.header-options button:active {
    transform: scale(0.95);
}

.dropdown {
    visibility: hidden;
    position: absolute;
    background-color: #3D5467;
    border: 1px solid #fff;
    margin-right: 50px;
    padding: 10px;
    z-index: 1000;
    width: 1000px;
    height: 65px;
    border-radius: 10px;
    opacity: 0;
    transform: scale(0.8);
    box-shadow: -5px 3px 10px #3D5467;
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s linear 0.3s
}

.dropdown button {
    background-color: #3D5467;
    width: 120px;
}

a {
    text-decoration: none;
    color: white;
}

.dropdown1 {
    display: flex;
    flex-direction: row;
    justify-items: flex-end;

}

.dropdown.show {
    visibility: visible;
    background-color: #3D5467;
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.3s ease, transform 0.3s ease;
}


.about {
    justify-items: center;
    color: white;
    margin-top: 30px;
}

.glavred {
    font-family: "Annai MN";
    text-decoration: none;
    color: white;
    border: 2px solid #3D5467;
    background-color: #3D5467;
    border-radius: 7px;
    box-shadow: 0 3px 10px #3D5467;
    justify-items: center;
}

.about button {
    width: 50px;
    height: 100px;
}

.about button:hover {
    background-color: #536575;
    transform: scale(1.1);
}

.about button:active {
    transform: scale(0.95);
}

.about img {
    width: 200px;
    height: 200px;
}

.img {
    background-color: #3D5467;
    border: solid #3D5467;
    margin-rigth: 50px;
}

.about h2 {
    border:3px solid #3D5467;
    background-color: #3D5467;
    border-radius: 10px;
    box-shadow: 0 3px 10px #3D5467;
}

.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    border:3px solid #3D5467;
    background-color: #3D5467;
    border-radius: 10px;
    box-shadow: 0 3px 10px #3D5467;
}

.content-about {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.content-about a {
    font-family: "Annai MN";
    text-decoration: none;
    color: white;
    border: 2px solid #536575;
    background-color: #536575;
    border-radius: 7px;
    box-shadow: 0 3px 10px #536575;
}